RewriteEngine On
Options +FollowSymLinks
RewriteBase /
RewriteRule ^.htaccess$ - [F]
DirectoryIndex index.php

RewriteRule ^.page-([0-9]*)$ booker/index.php?n_st=$1 [L]
RewriteRule ^paid/$ booker/index.php?by=paid [L]
RewriteRule ^paid/.page-([0-9]*)$ booker/index.php?by=paid&n_st=$1 [L]


php_flag session.use_trans_sid off
php_flag session.use_only_cookies on