/* Scss Document */
@import "compass/typography";
@import "compass/css3";


/*Экран по ширине меньше чем тогда*/
@include max-screen(768px) { }
/*Экран по ширине больше чем тогда*/
@include max-screen(768px) { }
/*Экран по высоте меньше чем тогда*/
@include max-screen-height(1024px) { }
/*Экран по высоте больше чем тогда*/
@include max-screen-height(1024px) { }


$fontSR:'SegoeUIRegular';
$fontSB:'SegoeUIBold';
$fontSI:'SegoeUIItalic';
$fontSL:'SegoeUILight';
$fontSSB:'SegoeUISemiBold';

$fontAR:'AgoraSansProRegular';
$fontAB:'AgoraSansProBold';

$fontGR:'GEInspiraRegular';
$fontGB:'GEInspiraBold';
$i:'icon1';
$fontlg:'lg';


@mixin font-include($name,$style,$weight) {

@include font-face($name, font-files(
   $name+'/'+$name+'.woff', 
   $name+'/'+$name+'.ttf', 
   $name+'/'+$name+'.svg'), 
   $name+'/'+$name+'.eot',$weight, $style
);

}

@include font-include('SegoeUIBold','normal','normal'); 
@include font-include('SegoeUIRegular','normal','normal');
@include font-include('SegoeUIItalic','normal','normal');
@include font-include('SegoeUILight','normal','normal');
@include font-include('SegoeUISemiBold','normal','normal');
@include font-include('AgoraSansProRegular','normal','normal');
@include font-include('AgoraSansProBold','normal','normal');
@include font-include('GEInspiraRegular','normal','normal');
@include font-include('GEInspiraBold','normal','normal');
@include font-include('icon1','normal','normal');
@include font-include('lg','normal','normal');