/*
font-family: $fontGB;
a:hover
i:hover::after 
i::after,i::before {content: "";}
div:nth-child(1) { } div:nth-child(2) { }
.itog:nth-child(2n) { }

.dialog_a { &:hover { } }
#main { &-sidebar {  }}


.more_supply1:hover { &::before {} }
input.Radiobox:checked + label::before { }

//анимация
div:nth-child(4) {
  background-color: #75B08A;
  @include animation(move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23));

}

@include keyframes(move) {
  0% {left: 0%;}
  100% {left:100%;}
}
@include keyframes(ani_loader) {
from { text-shadow: 0 0 3px black; }
to { text-shadow: 0 0 3px black; }
}


@include transform(rotate(-180deg));

transform:scale3d(1.1,1.1,1);
@include transition('all 0.5s ease 0s'); 
min-height:calc(100vh - 67px);
left:calc(50% - 35px);
color: #010203 + #040506;

//использование написаных миксинов
.input_mess1 {  @include placeholder {color: rgba(0,0,0,0.4);}  }

//использование шаблонного селектора
.bg_global { @extend %min_max; }
%min_max { }


//наследовать стили другого класса
.seriousError { @extend .error; }


//переменные и вычисления
$color_menu:#fff;
$width: 5em !global;


.jurnal_menu { background-color:$color_menu; }

$width_jurnal2:1520px;

$width_li2: floor( ($width_jurnal2 - $padding_left_jurnal2 - $padding_right_jurnal2 - 2  *$margin_img2) / 3 );
$right_width2:$width_li2;
$height_li_img2 : ceil(($width_li2 * 532) / 800);


@include sw('tablet3') { }
@include sw('tablet-small') { }
*/



